<html>
  <head>
    <title>Single Minded</title>
  </head>
  <body>
  <h1>Single Minded</h1>
    <form action='/create' method='POST'>
      User:
      <input name="user" type="text" maxlength="76" /> <br />
      Title:
      <input name="title" type="text" maxlength="76" /> <br />
      Description:
      <input name="description" type="text" maxlength="76" /> <br />
      Deadline:
      <input name="deadline" type="text" maxlength="76" /> <br />
      Priority:
      <input name="priority" type="text" maxlength="76" /> <br />
      Effort:
      <input name="effort" type="text" maxlength="76" /> <br />
      <input type="submit" />
    </form>
  <div id="feed">
    <h2> Tasks </h2>
    {% for task in tasks %}
    <div class="cheep">userid, title, description, timestamp, deadline, priority, effort, ordinality, complete
        <b>{{ task.title }}</b>
        <p>{{ task.description }}</p>
        <p>{{ task.timestamp }}</p>
        <p>{{ task.deadline }}</p>
        <p>{{ task.priority }}</p>
        <p>{{ task.effort }}</p>
    </div>
    {% endfor %}
  </div>
</body>
</html>
