<html>
  <head>
    <title>Single Minded</title>
  </head>
  <body>
  <h1>Single Minded</h1>
    <form action='/create' method='POST'>
      Name:
      <input name="name" type="text" /> 
      Cheep:
      <input name="cheep" type="text" maxlength="76" /> 
      <input type="submit" />
    </form>
  <div id="feed">
    <h2> Tasks </h2>
    {% for task in tasks %}
    <div class="cheep">
        <b>{{ task[0] }}</b>
        <p>{{ task[2] }}</p>
    </div>
    {% endfor %}
  </div>
</body>
</html>
